.spacer {
	clear: both;
}
.linext li {
	position: relative;
}
.linext .beside {
	position: absolute;
	left: 45%;
	top: 10px;
}
.linext code.beside {
	background-color: white;
	color: #999;
}
.twocol .col {
	width: 49%;
	float: left;
}
.twocol table {
	font-family: monospace;
	font-size: 80%;
	line-height: 125%;
	width: 200px;
	color: #333;
}
.twocol td, .twocol .th { padding-right: 40px}
.twocol table.wide { width: 350px;}
.breakdown .ok {
	font-weight: 700;
}
.breakdown .tick {
	color: red;
}
.breakdown.soft li {
	color: #999;
}
.breakdown pre code:before {
	content: none;
}
.breakdown pre span {
	color: #999;
}
